@model LearningManagementSystem.Web.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <ul><li>
                    Image:  @if (!string.IsNullOrEmpty(Model.ImagePath))
                                           {
                                               <img style="width: 100px; height: 100px;" src="/images/@(Model.ImagePath)"/>
                                           }
                                           else
                                           {
                                               <img style="width: 100px; height: 100px;" src="/images/No-Image-Placeholder.svg.png"/>
                                           
                                           }
                </li>
        <li>
            Id: @Model.Id
        </li>
        <li>
            Course Title: @Model.Title
        </li>
        <li>
            Course Description: @Model.Description
        </li>
        <li>
            Material Title: @Model.MaterialTitle
        </li>
        <li>
            Material Description: @Model.MaterialDescription
        </li>
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
