@model IEnumerable<LearningManagementSystem.Web.ViewModels.CourseViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Course Title</th>
        <th>Course Description</th>
        <th>Material Title</th>
        <th>Material Description</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImagePath))
                {
                    <img style="width: 100px; height: 100px;" src="/images/@(item.ImagePath)"/>
                }
                else
                {
                    <img style="width: 100px; height: 100px;" src="/images/No-Image-Placeholder.svg.png"/>
                
                }
            </td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.MaterialTitle</td>
            <td>@item.MaterialDescription</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
